{% extends "base.html" %}

{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <div class="subcontainer postshadoweffect">
    {% for category, message in messages %}
      <p class="{{category}}">{{ message }}</p>
    {% endfor %}
    </div>
  {% endif %}
{% endwith %}

<main class="main-content-color">

    <div class="subcontainer postshadoweffect">

        {% if user %}
            <div class="row gendisplay padd">
                <a class="btn is-green-btn btn-ext" href="{{url_for('category_item_add')}}">
                    Add New Item
                </a>
            </div>
        {% endif %}

        <div class="row gendisplay page-title padd">
            <div class="cat-width title-desc">Categories</div>
            <div class="item-width title-desc">Latest Items</div>
        </div>




        <div class="row gendisplay padd">

            <div class="cat-width gendisplay cat-line">
                <div class="">
                    {% for category in categories %}
                    <a href="{{ url_for('category_items', category_name=category.name) }}">
                        <p class="row items">{{category.name}}</p>
                    </a>
                    {% endfor %}
                </div>
            </div>

            <div class="item-width gendisplay">
                <div>
                    {% for item in items %}
                    <a href="{{url_for('category_item_details', category_name=item.category.name, item_name=item.name)}}">
                        <p class="row items">{{item.name}} <span class="cat-italic">({{item.category.name}})</span></p>
                    </a>
                    {% endfor %}
                </div>

            </div>
        </div>

    </div>
</main>
{% endblock %}