{% extends "base.html" %}

{% block content %}

<main class="main-content-color">

    <div class="item-subcontainer postshadoweffect">

            <div class="row gendisplay page-title padd">
                <div class="title-desc">Contact Us</div>
            </div>

            <div class="row">
                <br>
                <h5>House No - 101, Street - 101 NE</h5>
                <h5>City - Redmond</h5>
                <br><br>
                <h5 class="text-italic">Email us at: singhshalinis@gmail.com</h5>
            </div>
        </div>


</main>
{% endblock %}
