{% extends "base.html" %}



{% block pagenavitems %}
    {% if not user: %}
        <a class="navitems" href="/login">Login </a>
    {% else %}
        <a class="hello" href="/profile">Hello <span class="helloname">{{user.name}}</span></a> |
        <a class="navitems" href="/signout">Logout</a><!--conditional signin/signout/username-->
    {% endif %}
{% endblock %}


{% block content %}

<main class="main-content-color">

    <div class="item-subcontainer postshadoweffect">

            <div class="row gendisplay page-title padd">
                <div class="title-desc">Contact Us</div>
            </div>

            <div class="row">
                <br>
                <h5>House No - 101, Street - 101 NE</h5>
                <h5>City - Redmond</h5>
                <br><br>
                <h5 class="text-italic">Email us at: singhshalinis@gmail.com</h5>
            </div>
        </div>


</main>
{% endblock %}