{% extends "base.html" %}


{% block content %}

<main class="main-content-color">
    <div class="item-subcontainer postshadoweffect">

        <div class="row gendisplay page-title padd">
            <div class="title-desc">Item details</div>
        </div>

        <div class="">
            <br><small>Item Name</small>
            <div class="item-details">{{item.name}}</div>

            <br><small>Item Description </small>
            <div class="item-details">{{item.desc}}</div>

            <br><small>Category </small>
            <div class="item-details">{{item.category.name}}</div>

            <br><small>Created By </small>
            <div class="item-details">{{item.user.name}}</div>

            <br><br>
            {% if user.name == item.user.name %}
                <a href="{{url_for('category_item_edit',item_name=item.name)}}">Edit</a> |
                <a href="{{url_for('category_item_delete', item_name=item.name)}}">Delete</a>
            {% endif %}
        </div>

    </div>
</main>
{% endblock %}