{% extends "base.html" %}
{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <div class="item-subcontainer postshadoweffect">
    {% for category, message in messages %}
      <p class="{{category}}">{{ message }}</p>
    {% endfor %}
    </div>
  {% endif %}
{% endwith %}



<main class="main-content-color">

    <div class="item-subcontainer postshadoweffect">

            <div class="row gendisplay page-title padd">
                <div class="title-desc">Add a new item</div>
            </div>

        <form action="{{url_for('category_item_add')}}" method = 'POST'>
            <br><small>Name</small>
            <input type="text" name="iname" value='{{i_name}}'>

            <br><br><small>Description</small>
            <input type="text" name="idesc" value='{{i_desc}}'>

            <br><br><small>Category</small>
            <select name="icategory">
                {% for category in categories %}
                    <option {% if category.name == i_ct: %}
                                selected
                            {% endif %}
                            >
                    {{category.name}}</option>
                {% endfor %}
            </select>

            <br><br>
            <button class="btn is-green-btn sign-btn btn-ext" type="submit">Save</button>
            <a class = "btn is-green-btn btn-ext" href = "/">Discard Changes</a>
        </form>

    </div>
{% endblock %}