{% extends "base.html" %}

{% block content %}

<main class="main-content-color">

    <div class="item-subcontainer postshadoweffect">

            <div class="row gendisplay page-title padd">
                <div class="title-desc">{{category.name}} ({{noOfItems}} items)</div>
            </div>

            {% for item in items %}
                <a href="{{url_for('category_item_details', category_name=category.name, item_name=item.name)}}">
                    <p class="items">{{item.name}}</p>
                </a>
            {% endfor %}
        </div>


</main>
{% endblock %}
